body {
    background-color: #ffffff;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    color: #404040;
    padding: 0;
    background-image: url('pattern.jpg');
    text-align: center;
}

h1 {
    margin-bottom: 18px;
    font-size: 45px;
    line-height: 36px;
    text-align: center;
	margin-left: 10%;
	margin-right: 10%;
    font-family: Georgia, serif;
}

h2 {
    font-family: Georgia, serif;
    text-align: center;
    font-size: 35px;
    font-style: italic;
    font-weight: normal;
}

h3 {
    text-align: center;
    font-size: 20px;
}

p {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    margin-bottom: 9px;
}

a {
    color: #0069d6;
    text-decoration: none;
    line-height: inherit;
    font-weight: inherit;
}

a:hover {
    color: #00438a;
    text-decoration: underline;
}

p:first-child {
    text-align: center;
    font-family: Georgia, serif;
}

div#content {
	margin-left: auto;
	margin-right: auto;
	width: 40em;
	text-align: left;
}
.box {
    background-color: #fff;
    margin: 30px 0 30px 0;
    padding: 0.5em 2em;
}
div#event {
    text-align: center;
    margin-bottom: 2em;
}

.apply {
    text-align: center;
    font-size: 20px;
    font-family: Georgia, serif;
}

